In [67]:
import pandas as pd

file_path = "./output3.csv"
df = pd.read_csv(file_path)

In [68]:
df.drop(columns=['address'], inplace=True)
df.dropna(subset=['city'], inplace=True)

In [69]:
apartment_count = 0
house_count = 0
for index, row in df.iterrows():
    # Check the value of the 'apartment_or_house' column
    if row['apartment_or_house'] == "house":
        # If it's 'house', replace it with 1
        df.at[index, 'apartment_or_house'] = 1
        house_count += 1
    elif row['apartment_or_house'] == "apartment":
        # If it's 'apartment', replace it with 0
        df.at[index, 'apartment_or_house'] = 0
        apartment_count += 1
    

print(apartment_count)
print(house_count)

53106
13828

In [30]:
df.info()
df['city'].unique()

<class 'pandas.core.frame.DataFrame'>
Index: 66934 entries, 0 to 66934
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   city                66934 non-null  object
 1   price               66934 non-null  object
 2   rooms               66934 non-null  object
 3   bathrooms           66934 non-null  object
 4   sqft                66934 non-null  object
 5   apartment_or_house  66934 non-null  object
dtypes: object(6)
memory usage: 5.6+ MB

array(['Woodbridge, VA', 'Puyallup, WA', 'Coppell, TX', 'Annandale, VA',
       'Peachtree Corners, GA', 'Waxahachie, TX', 'Annapolis, MD',
       'Lake Oswego, OR', 'Romeoville, IL', 'Hurst, TX', 'Lynnwood, WA',
       'Fort Lee, NJ', 'Issaquah, WA', 'Wheeling, IL',
       'Winter Springs, FL', 'Northglenn, CO', 'Tucker, GA',
       'Richfield, MN', 'Farmers Branch, TX', 'Norristown, PA',
       'West Hollywood, CA', 'Douglasville, GA', 'Watertown Town, MA',
       'Woodstock, GA', 'Fair Oaks, VA', 'Owings Mills, MD',
       'Panama City, FL', 'Englewood, CO', 'Kennesaw, GA',
       'Wheat Ridge, CO', 'Duluth, GA', 'Dania Beach, FL', 'Garner, NC',
       'Norwood, MA', 'Newark, DE', 'Parkville, MD', 'Lawrenceville, GA',
       'Chamblee, GA', 'Morrisville, NC', 'Fridley, MN', 'Matthews, NC',
       'Laurel, MD', 'Carney, MD', 'McDonough, GA', 'Casselberry, FL',
       'Stockbridge, GA', 'Saratoga Springs, NY', 'Short Pump, VA',
       'Fredericksburg, VA', 'Maryland Heights, MO', 'Tualatin, OR',
       'Tysons Corner, VA', 'Gladstone, MO', 'Temple Terrace, FL',
       'Vernon Hills, IL', 'South Salt Lake, UT', 'Wilsonville, OR',
       'Suitland, MD', 'Okemos, MI', 'Forney, TX', 'Elkridge, MD',
       'Greenbelt, MD', 'Ridgeland, MS', 'Auburn Hills, MI',
       'Herndon, VA', 'Landover, MD', 'King of Prussia, PA',
       'Westmont, IL', 'Fairfax, VA', 'North Lynnwood, WA',
       'Simpsonville, SC', 'Papillion, NE', 'Rock Springs, WY',
       'Cockeysville, MD', 'Calabasas, CA', 'Silverdale, WA',
       'Mountlake Terrace, WA', 'Suwanee, GA', 'Hyattsville, MD',
       'Altamonte Springs, FL', 'Haltom City, TX', 'Hackensack, NJ',
       'Littleton, CO', 'Ashburn, VA', 'Sierra Vista, AZ', 'Odenton, MD',
       'Fairfield, OH', 'The Colony, TX', 'Shakopee, MN', 'Lombard, IL',
       'Sherman, TX', 'Bremerton, WA', 'Hickory, NC',
       'North Miami Beach, FL', 'San Bruno, CA', 'Gainesville, GA',
       'Edmonds, WA', 'New York City, NY', 'Los Angeles, CA',
       'Chicago, IL', 'Houston, TX', 'Phoenix, AZ', 'Philadelphia, PA',
       'San Antonio, TX', 'San Diego, CA', 'Dallas, TX', 'San Jose, CA',
       'Austin, TX', 'Jacksonville, FL', 'Fort Worth, TX', 'Columbus, OH',
       'Indianapolis, IN', 'Charlotte, NC', 'San Francisco, CA',
       'Seattle, WA', 'Denver, CO', 'Nashville, TN', 'Oklahoma City, OK',
       'El Paso, TX', 'Washington, DC', 'Boston, MA', 'Portland, OR',
       'Las Vegas, NV', 'Detroit, MI', 'Memphis, TN', 'Louisville, KY',
       'Baltimore, MD', 'Milwaukee, WI', 'Albuquerque, NM', 'Fresno, CA',
       'Tucson, AZ', 'Sacramento, CA', 'Kansas City, MO', 'Mesa, AZ',
       'Atlanta, GA', 'Omaha, NE', 'Colorado Springs, CO', 'Raleigh, NC',
       'Long Beach, CA', 'Virginia Beach, VA', 'Miami, FL', 'Oakland, CA',
       'Minneapolis, MN', 'Tulsa, OK', 'Wichita, KS', 'Arlington, TX',
       'Tampa, FL', 'Aurora, CO', 'New Orleans, LA', 'Cleveland, OH',
       'Anaheim, CA', 'Lexington, KY', 'Henderson, NV',
       'Corpus Christi, TX', 'Riverside, CA', 'Santa Ana, CA',
       'Cincinnati, OH', 'St. Paul, MN', 'Orlando, FL', 'Irvine, CA',
       'Pittsburgh, PA', 'St. Louis, MO', 'Greensboro, NC', 'Lincoln, NE',
       'Jersey City, NJ', 'Plano, TX', 'Durham, NC', 'Chula Vista, CA',
       'Chandler, AZ', 'Madison, WI', 'Gilbert, AZ', 'Reno, NV',
       'Fort Wayne, IN', 'North Las Vegas, NV', 'St. Petersburg, FL',
       'Irving, TX', 'Winston-Salem, NC', 'Chesapeake, VA',
       'Glendale, AZ', 'Garland, TX', 'Scottsdale, AZ', 'Norfolk, VA',
       'Arlington, VA', 'Boise, ID', 'Fremont, CA', 'Spokane, WA',
       'Richmond, VA', 'Santa Clarita, CA', 'Baton Rouge, LA',
       'Enterprise, NV', 'Hialeah, FL', 'Spring Valley, NV', 'Tacoma, WA',
       'Huntsville, AL', 'Des Moines, IA', 'Yonkers, NY',
       'Moreno Valley, CA', 'Fayetteville, NC', 'Columbus, GA',
       'Worcester, MA', 'Oxnard, CA', 'Little Rock, AR', 'Frisco, TX',
       'Augusta, GA', 'Salt Lake City, UT', 'Birmingham, AL',
       'Montgomery, AL', 'Sunrise Manor, NV', 'Tallahassee, FL',
       'Grand Rapids, MI', 'Huntington Beach, CA', 'Grand Prairie, TX',
       'Overland Park, KS', 'McKinney, TX', 'Glendale, CA',
       'Sioux Falls, SD', 'Knoxville, TN', 'Peoria, AZ', 'Vancouver, WA',
       'Mobile, AL', 'Newport News, VA', 'Fort Lauderdale, FL',
       'Aurora, IL', 'Chattanooga, TN', 'Tempe, AZ', 'Santa Rosa, CA',
       'Eugene, OR', 'Ontario, CA', 'Cary, NC', 'Rancho Cucamonga, CA',
       'Oceanside, CA', 'Pembroke Pines, FL', 'Fort Collins, CO',
       'Clarksville, TN', 'Hayward, CA', 'Corona, CA', 'Alexandria, VA',
       'Lakewood, CO', 'Kansas City, KS', 'Sunnyvale, CA', 'Killeen, TX',
       'Murfreesboro, TN', 'Jackson, MS', 'Hollywood, FL',
       'Escondido, CA', 'Pasadena, TX', 'Bellevue, WA', 'Charleston, SC',
       'Pomona, CA', 'Mesquite, TX', 'Naperville, IL', 'Roseville, CA',
       'Savannah, GA', 'Surprise, AZ', 'Gainesville, FL', 'Fullerton, CA',
       'Denton, TX', 'Olathe, KS', 'Thornton, CO', 'Waco, TX',
       'West Valley City, UT', 'Orange, CA', 'Pasadena, CA',
       'Hampton, VA', 'Columbia, SC', 'New Haven, CT', 'Stamford, CT',
       'Kent, WA', 'Miramar, FL', 'Victorville, CA', 'Coral Springs, FL',
       'Sterling Heights, MI', 'Midland, TX', 'Carrollton, TX',
       'Santa Clara, CA', 'Norman, OK', 'Fargo, ND', 'Athens, GA',
       'Thousand Oaks, CA', 'Topeka, KS', 'Abilene, TX',
       'Simi Valley, CA', 'Allentown, PA', 'Lewisville, TX',
       'Concord, CA', 'Pearland, TX', 'Arvada, CO', 'Independence, MO',
       'Ann Arbor, MI', 'Lafayette, LA', 'Palm Bay, FL', 'Berkeley, CA',
       'Hartford, CT', 'Rochester, MN', 'Round Rock, TX',
       'College Station, TX', 'Fairfield, CA', 'The Woodlands, TX',
       'Richardson, TX', 'Cambridge, MA', 'West Palm Beach, FL',
       'Clearwater, FL', 'Wilmington, NC', 'Evansville, IN',
       'West Jordan, UT', 'North Charleston, SC', 'Westminster, CO',
       'Manchester, NH', 'Brandon, FL', 'Carlsbad, CA', 'Lowell, MA',
       'Beaumont, TX', 'Lakeland, FL', 'Gresham, OR', 'League City, TX',
       'Odessa, TX', 'Lansing, MI', 'Murrieta, CA', 'Pompano Beach, FL',
       'Costa Mesa, CA', 'Everett, WA', 'Ventura, CA', 'Temecula, CA',
       'Santa Maria, CA', 'Dearborn, MI', 'West Covina, CA', 'Sparks, NV',
       'Greeley, CO', 'Centennial, CO', 'Sandy Springs, GA',
       'Hillsboro, OR', 'Columbia, MD', 'Boulder, CO', 'Tyler, TX',
       'Burbank, CA', 'Davie, FL', 'Allen, TX', 'Renton, WA',
       'San Mateo, CA', 'Daly City, CA', 'South Bend, IN',
       "Lee's Summit, MO", 'Vacaville, CA', 'Highlands Ranch, CO',
       'Quincy, MA', 'Federal Way, WA', 'Carmel, IN', 'Bend, OR',
       'San Angelo, TX', 'Roanoke, VA', 'Fishers, IN', 'Vista, CA',
       'Longmont, CO', 'Boca Raton, FL', 'Beaverton, OR', 'Goodyear, AZ',
       'Orem, UT', 'Sunrise, FL', 'Sandy, UT', 'Suffolk, VA',
       'Edmond, OK', 'Asheville, NC', 'Mission Viejo, CA',
       'Plantation, FL', 'New Braunfels, TX', 'Roswell, GA', 'Conroe, TX',
       'Santa Monica, CA', 'Kirkland, WA', 'Hoover, AL', "O'Fallon, MO",
       'Alafaya, FL', 'Chino, CA', 'Mount Pleasant, SC', 'Germantown, MD',
       'Waukegan, IL', 'Bloomington, MN', 'Avondale, AZ',
       'Fort Myers, FL', 'Greenville, NC', 'Santa Fe, NM', 'Troy, MI',
       'Livermore, CA', 'Citrus Heights, CA', 'Ogden, UT',
       'Springdale, AR', 'Deerfield Beach, FL', 'San Ramon, CA',
       'Auburn, WA', 'Lake Forest, CA', 'Newport Beach, CA',
       'Melbourne, FL', 'Brooklyn Park, MN', 'Baytown, TX',
       'Kennewick, WA', 'Franklin, TN', 'Farmington Hills, MI',
       'Temple, TX', 'Redwood City, CA', 'Lake Charles, LA',
       'Miami Beach, FL', 'Longview, TX', 'Mountain View, CA',
       'Silver Spring, MD', 'Layton, UT', 'Folsom, CA', 'Waldorf, MD',
       'New Rochelle, NY', 'Gastonia, NC', 'Somerville, MA',
       'Boynton Beach, FL', 'Plymouth, MN', 'Napa, CA', 'Milpitas, CA',
       'Bloomington, IN', 'Upland, CA', 'Pleasanton, CA', 'Kissimmee, FL',
       'Frederick, MD', 'Chino Hills, CA', 'South Jordan, UT',
       'Schaumburg, IL', 'Alameda, CA', 'Pasco, WA',
       'Arlington Heights, IL', 'Flower Mound, TX', 'Cedar Park, TX',
       'Flagstaff, AZ', 'Southfield, MI', 'Woodbury, MN', 'Doral, FL',
       'Rock Hill, SC', 'Castle Rock, CO', 'Lauderhill, FL',
       'Broomfield, CO', 'Redmond, WA', 'Mansfield, TX',
       'Ellicott City, MD', 'Kalamazoo, MI', 'Daytona Beach, FL',
       'Centreville, VA', 'Bowling Green, KY', 'Jacksonville, NC',
       'Framingham, MA', 'Georgetown, TX', 'Rocklin, CA', 'Tamarac, FL',
       'Glen Burnie, MD', 'Dublin, CA', 'Greenville, SC',
       'St. Charles, MO', 'Noblesville, IN', 'North Richland Hills, TX',
       'Walnut Creek, CA', 'Union City, CA', 'Gaithersburg, MD',
       'St. Cloud, MN', 'Wesley Chapel, FL', 'West Des Moines, IA',
       'Eagan, MN', 'San Marcos, TX', 'Rockville, MD', 'Sammamish, WA',
       'Bethesda, MD', 'Alpharetta, GA', 'South San Francisco, CA',
       'Victoria, TX', 'Malden, MA', 'Waltham, MA', 'Pflugerville, TX',
       'North Little Rock, AR', 'Burnsville, MN', 'Spring, TX',
       'Eden Prairie, MN', 'Greenwood, IN', 'Millcreek, UT', 'Ocala, FL',
       'Bellevue, NE', 'Lakewood, WA', 'Leander, TX', 'Reston, VA',
       'Hendersonville, TN', 'Marietta, GA', 'Wellington, FL',
       'Sanford, FL', 'Huntersville, NC', 'La Mesa, CA', 'Richland, WA',
       'Euless, TX', 'North Miami, FL', 'White Plains, NY',
       'Palm Beach Gardens, FL', 'Grand Forks, ND', 'Chapel Hill, NC',
       'Hoboken, NJ', 'Parker, CO', 'Shoreline, WA', 'Bowie, MD',
       'Towson, MD', 'Coconut Creek, FL', 'Lenexa, KS',
       'Weymouth Town, MA', 'Bel Air South, MD', 'Madison, AL',
       'Burlington, NC', 'Brookhaven, GA', 'Four Corners, FL',
       'Lacey, WA', 'Mount Prospect, IL', 'Smyrna, GA', 'Bradenton, FL',
       'New Brunswick, NJ', 'Sarasota, FL', 'Tigard, OR', 'Olympia, WA',
       'Southaven, MS', "Coeur d'Alene, ID", 'Peabody, MA',
       'Pensacola, FL', 'Smyrna, TN', 'Wheaton, IL', 'Minnetonka, MN',
       'Bozeman, MT', 'Pinellas Park, FL', 'Galveston, TX',
       'Texas City, TX', 'Edina, MN', 'West New York, NJ',
       'Aliso Viejo, CA', 'Dunwoody, GA', 'Collierville, TN',
       'Mishawaka, IN', 'Grapevine, TX', 'Draper, UT', 'Murray, UT',
       'Mooresville, NC', 'Jeffersonville, IN', 'North Bethesda, MD',
       'Coral Gables, FL', 'St. Louis Park, MN', 'Bedford, TX',
       'Dublin, OH', 'Kyle, TX', 'Leesburg, VA', 'Middletown, CT',
       'Bothell, WA', 'Rancho Santa Margarita, CA', 'Brea, CA',
       'Parma Heights, OH', 'Golden, CO', 'Rosedale, MD',
       'Merrifield, VA', 'Universal City, TX', 'Maitland, FL',
       'Harrison, NJ', 'Boerne, TX', 'Panama City Beach, FL',
       'Norcross, GA', 'Conyers, GA', 'Lake St. Louis, MO', 'Addison, TX',
       'Humble, TX', 'Glen Allen, VA', 'Lithia Springs, GA',
       'Lone Tree, CO', 'Wells Branch, TX', 'Newcastle, WA',
       'Emeryville, CA', 'Tomball, TX', 'Webster, TX', 'Celebration, FL',
       'Temple Hills, MD', 'Mount Rainier, MD', 'Jersey Village, TX',
       'Contra Costa Centre, CA', 'Stone Mountain, GA', 'Exton, PA',
       'Oakwood, GA', 'Glendale, CO', 'city', 'Los Ranchos, NM',
       'Corrales, NM', 'Doraville, GA', 'College Park, GA',
       'South Fulton, GA', 'Decatur, GA', 'East Point, GA',
       'Del Valle, TX', 'West Lake Hills, TX', 'Bee Cave, TX',
       'Brooklyn, MD', 'Baltimore City, MD', 'Idlewylde, MD',
       'Brighton, MA', 'Brookline, MA', 'Milton, MA', 'Watertown, MA',
       'Newton, MA', 'Chelsea, MA', 'Pineville, NC', 'West Chicago, IL',
       'Niles, IL', 'Park Ridge, IL', 'Evergreen Park, IL',
       'Oak Park, IL', 'Calhan, CO', 'Canal Winchester, OH',
       'Blacklick, OH', 'Worthington, OH', 'Grove City, OH',
       'Hilliard, OH', 'Westerville, OH', 'Powell, OH', 'Galloway, OH',
       'New Albany, OH', 'Lockbourne, OH', 'Obetz, OH',
       'Upper Arlington, OH', 'Reynoldsburg, OH', 'Groveport, OH',
       'Gahanna, OH', 'Rockwall, TX', 'Highland Park, TX',
       'University Park, TX', 'Rowlett, TX', 'Heath, TX',
       'Duncanville, TX', 'Lancaster, TX', 'Grosse Pointe Park, MI',
       'Hamtramck, MI', 'Hazel Park, MI', 'Dearborn Heights, MI',
       'Harper Woods, MI', 'Warren, MI', 'Redford, MI', 'Oak Park, MI',
       'Highland Park, MI', 'River Rouge, MI', 'Ferndale, MI',
       'Horizon City, TX', 'Clint, TX', 'Haslet, TX', 'Aledo, TX',
       'Crowley, TX', 'Benbrook, TX', 'White Settlement, TX',
       'River Oaks, TX', 'Lake Worth, TX', 'Westover Hills, TX',
       'Burleson, TX', 'Forest Hill, TX', 'Kennedale, TX',
       'Northlake, TX', 'Roanoke, TX', 'Edgecliff Village, TX',
       'Clovis, CA', 'Pinedale, CA', 'Crosby, TX', 'Fresno, TX',
       'Bellaire, TX', 'Missouri City, TX', 'Cypress, TX', 'Hockley, TX',
       'Katy, TX', 'Spring Valley Village, TX', 'Huffman, TX',
       'West University Place, TX', 'Kingwood, TX', 'Galena Park, TX',
       'Greenfield, IN', 'Plainfield, IN', 'Camby, IN',
       'Atlantic Beach, FL', 'Orange Park, FL', 'Parkville, MO',
       'Leawood, KS', 'Grandview, MO', 'Raytown, MO', 'Mission Hills, KS',
       'Ferrelview, MO', 'Weatherby Lake, MO', 'County/other, MO',
       'Platte City, MO', 'Reseda, CA', 'Encino, CA', 'Gardena, CA',
       'Valley Village, CA', 'San Pedro, CA', 'Woodland Hills, CA',
       'Chatsworth, CA', 'Valley Glen, CA', 'Studio City, CA',
       'North Hollywood, CA', 'Beverly Hills, CA', 'Sylmar, CA',
       'Canoga Park, CA', 'Sherman Oaks, CA', 'Panorama City, CA',
       'Marina Del Rey, CA', 'Pacific Palisades, CA', 'Porter Ranch, CA',
       'Tujunga, CA', 'Sun Valley, CA', 'Wilmington, CA',
       'San Fernando, CA', 'Venice, CA', 'Van Nuys, CA',
       'Toluca Lake, CA', 'Granada Hills, CA', 'View Park, CA',
       'West Hills, CA', 'Rancho Palos Verdes, CA', 'City Terrace, CA',
       'Pacoima, CA', 'Tarzana, CA', 'Westchester, CA',
       'East Los Angeles, CA', 'Harbor City, CA', 'Winnetka, CA',
       'Northridge, CA', 'North Hills, CA', 'El Sereno, CA',
       'Sunland, CA', 'Fairdale, KY', 'Fisherville, KY', 'Prospect, KY',
       'New Albany, IN', 'Shepherdsville, KY', 'Anchorage, KY',
       'Jeffersontown, KY', 'Unicorp/memphis, TN', 'Germantown, TN',
       'Bartlett, TN', 'Apache Junction, AZ', 'San Tan Valley, AZ',
       'Wauwatosa, WI', 'Whitefish Bay, WI', 'Glendale, WI',
       'West Milwaukee, WI', 'Greenfield, WI', 'Nolensville, TN',
       'Antioch, TN', 'Old Hickory, TN', 'Brentwood, TN', 'Hermitage, TN',
       'Madison, TN', 'Whites Creek, TN', 'Goodlettsville, TN',
       'Mount Juliet, TN', 'Joelton, TN', 'New York, NY', 'Ridgewood, NY',
       'Little Neck, NY', 'Canarsie, NY', 'Brooklyn, NY',
       'Staten Island, NY', 'Fresh Meadows, NY', 'Bronx, NY',
       'Woodside, NY', 'Flushing, NY', 'South Ozone Park, NY',
       'Middle Village, NY', 'Howard Beach, NY', 'Bensonhurst, NY',
       'Glen Oaks, NY', 'Floral Park, NY', 'East Elmhurst, NY',
       'Stuyvesant Heights, NY', 'Valley Stream, NY', 'East New York, NY',
       'Whitestone, NY', 'Glendale, NY', 'Bayside, NY',
       'Far Rockaway, NY', 'Queens Village, NY', 'Rego Park, NY',
       'Ozone Park, NY', 'Saint Albans, NY', 'Hollis Hills, NY',
       'Oakland Gardens, NY', 'Bushwick, NY', 'Richmond Hill South, NY',
       'Beechhurst, NY', 'Corona, NY', 'Jamaica, NY', 'Malba, NY',
       'Mount Vernon, NY', 'Springfield Gardens, NY', 'Forest Hills, NY',
       'Elmhurst, NY', 'Douglaston, NY', 'Jamaica Estates, NY',
       'Bellerose, NY', 'Long Island City, NY', 'Midwood, NY',
       'Gravesend, NY', 'Jackson Heights, NY', 'Yukon, OK', 'Moore, OK',
       'Del City, OK', 'Choctaw, OK', 'Jones, OK', 'Mustang, OK',
       'Bethany, OK', 'The Village, OK', 'Piedmont, OK', 'Warr Acres, OK',
       'Mcloud, OK', 'Gretna, NE', 'Elkhorn, NE', 'Ralston, NE',
       'Jenkintown, PA', 'Laveen, AZ', 'Cave Creek, AZ', 'Tolleson, AZ',
       'Anthem, AZ', 'Paradise Valley, AZ', 'Milwaukie, OR',
       'Happy Valley, OR', 'Wake Forest, NC', 'Knightdale, NC',
       'Apex, NC', 'Elk Grove, CA', 'Medina, TX', 'Converse, TX',
       'Castroville, TX', 'Live Oak, TX', 'Von Ormy, TX',
       'Leon Valley, TX', 'Helotes, TX', 'Kirby, TX', 'Selma, TX',
       'Rancho Bernardo (san Diego), CA', 'La Jolla, CA',
       'Rancho Santa Fe, CA', 'Scripps Miramar, CA', 'Del Mar, CA',
       'San Deigo, CA', 'Bonita, CA', 'Spring Valley, CA',
       'San Ysidro, CA', 'National City, CA', 'Imperial Beach, CA',
       'Poway, CA', 'Pacific Beach (san Diego), CA', 'Lemon Grove, CA',
       'Los Gatos, CA', 'Morgan Hill, CA', 'Campbell, CA', 'Saratoga, CA',
       'Burien, WA', 'Saddlebrooke, AZ', 'Oro Valley, AZ', 'Vail, AZ',
       'Marana, AZ', 'Chevy Chase, MD'], dtype=object)

In [70]:
#Label Binarizer for States
from sklearn.preprocessing import LabelBinarizer

city_column = df["city"].to_numpy()

label_binarizer = LabelBinarizer()
label_binarizer.fit(city_column)

binarized_states = label_binarizer.transform(city_column)
binarized_city_df = pd.DataFrame(binarized_states, columns=label_binarizer.classes_)

binarized_city_df.head()


df = pd.concat([df, binarized_city_df], axis=1)
df.info()
# df['city'] = binarized_states
# print(df['city'])

<class 'pandas.core.frame.DataFrame'>
Index: 66935 entries, 0 to 64501
Columns: 862 entries, city to city
dtypes: float64(856), object(6)
memory usage: 440.7+ MB

In [71]:
# Convert NumPy array to pandas DataFrame
binarized_states_df = pd.DataFrame(binarized_states)

# Print the DataFrame
print(binarized_states_df)

       0    1    2    3    4    5    6    7    8    9    ...  846  847  848  \
0        0    0    0    0    0    0    0    0    0    0  ...    1    0    0
1        0    0    0    0    0    0    0    0    0    0  ...    1    0    0
2        0    0    0    0    0    0    0    0    0    0  ...    1    0    0
3        0    0    0    0    0    0    0    0    0    0  ...    1    0    0
4        0    0    0    0    0    0    0    0    0    0  ...    1    0    0
...    ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...
66929    0    0    0    0    0    0    0    0    0    0  ...    0    0    0
66930    0    0    0    0    0    0    0    0    0    0  ...    0    0    0
66931    0    0    0    0    0    0    0    0    0    0  ...    0    0    0
66932    0    0    0    0    0    0    0    0    0    0  ...    0    0    0
66933    0    0    0    0    0    0    0    0    0    0  ...    0    0    0

       849  850  851  852  853  854  855
0        0    0    0    0    0    0    0
1        0    0    0    0    0    0    0
2        0    0    0    0    0    0    0
3        0    0    0    0    0    0    0
4        0    0    0    0    0    0    0
...    ...  ...  ...  ...  ...  ...  ...
66929    0    0    0    0    0    0    0
66930    0    0    0    0    0    0    0
66931    0    0    0    0    0    0    0
66932    0    0    0    0    0    0    0
66933    0    0    0    0    0    0    0

[66934 rows x 856 columns]

In [41]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 66935 entries, 0 to 64501
Columns: 862 entries, city to city
dtypes: float64(856), object(6)
memory usage: 440.7+ MB

In [72]:
#Need to drop anything that isn't call for rent
df = df[pd.to_numeric(df['price'], errors='coerce').notnull()]
df = df[pd.to_numeric(df['rooms'], errors='coerce').notnull()]
df = df[pd.to_numeric(df['bathrooms'], errors='coerce').notnull()]
df = df[pd.to_numeric(df['sqft'], errors='coerce').notnull()]
df = df[pd.to_numeric(df['apartment_or_house'], errors='coerce').notnull()]

# Convert 'price' column to numeric
df['price'] = pd.to_numeric(df['price'])
df['rooms'] = pd.to_numeric(df['rooms'])
df['bathrooms'] = pd.to_numeric(df['bathrooms'])
df['sqft'] = pd.to_numeric(df['sqft'])
df["apartment_or_house"] = pd.to_numeric(df["apartment_or_house"])

In [48]:
print(df.info())

counts = df['apartment_or_house'].value_counts()
print(counts)

<class 'pandas.core.frame.DataFrame'>
Index: 66821 entries, 0 to 66934
Columns: 862 entries, city to city
dtypes: float64(858), int64(3), object(1)
memory usage: 440.0+ MB
None
apartment_or_house
0    52995
1    13826
Name: count, dtype: int64

In [74]:

df = df.drop(columns=['city', 'city'])
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 66821 entries, 0 to 66934
Columns: 860 entries, price to Yukon, OK
dtypes: float64(857), int64(3)
memory usage: 438.9 MB

In [53]:
# Calculate Pearson correlation coefficients
correlation_matrix = df.corr().abs()

# Extract correlations with the target variable
feature_target_correlations = correlation_matrix['price'].drop('price')

# Print feature-target correlations
print("Feature-Target Correlations:")
print(feature_target_correlations)

Feature-Target Correlations:
rooms                 0.373022
bathrooms             0.419756
sqft                  0.185947
apartment_or_house    0.531467
Abilene, TX           0.009561
                        ...
Woodstock, GA         0.009634
Worcester, MA         0.009698
Worthington, OH       0.008004
Yonkers, NY           0.008142
Yukon, OK             0.011068
Name: price, Length: 859, dtype: float64

In [22]:
from sklearn.preprocessing import LabelEncoder


# for col in ['city', 'apartment_or_house']:
#     le = LabelEncoder()
#     df[col] = le.fit_transform(df[col].astype(str))
#     label_encoders[col] = le
#     print(label_encoders)



print(df['city'].unique())

NameError: name 'data' is not defined

In [75]:
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import GaussianNB

from sklearn.impute import SimpleImputer
from sklearn.metrics import accuracy_score
from sklearn import preprocessing
import pandas as pd

df = df.dropna()
# Handle missing values if any
# imputer = SimpleImputer(strategy='mean')
# df['sqft'] = imputer.fit_transform(df['sqft'].values.reshape(-1, 1))

# Split data into train and test sets
X = df.drop(columns=['price'])  # Features
print(X.info())
print(X.fillna(0))
y = df['price']  # Target variable

<class 'pandas.core.frame.DataFrame'>
Index: 66820 entries, 0 to 66933
Columns: 859 entries, rooms to Yukon, OK
dtypes: float64(857), int64(2)
memory usage: 438.4 MB
None
       rooms  bathrooms    sqft  apartment_or_house  Abilene, TX  Addison, TX  \
0          1        1.0   757.0                   0          0.0          0.0
1          2        2.0  1218.0                   0          0.0          0.0
2          1        1.0   777.0                   0          0.0          0.0
3          2        2.0  1719.0                   0          0.0          0.0
4          3        2.0  1719.0                   0          0.0          0.0
...      ...        ...     ...                 ...          ...          ...
66929      4        4.0  1482.0                   1          0.0          0.0
66930      1        1.0  1575.0                   1          0.0          0.0
66931      2        2.0  1837.0                   1          0.0          0.0
66932      3        3.0  1950.0                   1          0.0          0.0
66933      1        1.0  1753.0                   1          0.0          0.0

       Alafaya, FL  Alameda, CA  Albuquerque, NM  Aledo, TX  ...  \
0              0.0          0.0              0.0        0.0  ...
1              0.0          0.0              0.0        0.0  ...
2              0.0          0.0              0.0        0.0  ...
3              0.0          0.0              0.0        0.0  ...
4              0.0          0.0              0.0        0.0  ...
...            ...          ...              ...        ...  ...
66929          0.0          0.0              0.0        0.0  ...
66930          0.0          0.0              0.0        0.0  ...
66931          0.0          0.0              0.0        0.0  ...
66932          0.0          0.0              0.0        0.0  ...
66933          0.0          0.0              0.0        0.0  ...

       Winter Springs, FL  Woodbridge, VA  Woodbury, MN  Woodland Hills, CA  \
0                     0.0             1.0           0.0                 0.0
1                     0.0             1.0           0.0                 0.0
2                     0.0             1.0           0.0                 0.0
3                     0.0             1.0           0.0                 0.0
4                     0.0             1.0           0.0                 0.0
...                   ...             ...           ...                 ...
66929                 0.0             0.0           0.0                 0.0
66930                 0.0             0.0           0.0                 0.0
66931                 0.0             0.0           0.0                 0.0
66932                 0.0             0.0           0.0                 0.0
66933                 0.0             0.0           0.0                 0.0

       Woodside, NY  Woodstock, GA  Worcester, MA  Worthington, OH  \
0               0.0            0.0            0.0              0.0
1               0.0            0.0            0.0              0.0
2               0.0            0.0            0.0              0.0
3               0.0            0.0            0.0              0.0
4               0.0            0.0            0.0              0.0
...             ...            ...            ...              ...
66929           0.0            0.0            0.0              0.0
66930           0.0            0.0            0.0              0.0
66931           0.0            0.0            0.0              0.0
66932           0.0            0.0            0.0              0.0
66933           0.0            0.0            0.0              0.0

       Yonkers, NY  Yukon, OK
0              0.0        0.0
1              0.0        0.0
2              0.0        0.0
3              0.0        0.0
4              0.0        0.0
...            ...        ...
66929          0.0        0.0
66930          0.0        0.0
66931          0.0        0.0
66932          0.0        0.0
66933          0.0        0.0

[66820 rows x 859 columns]

In [76]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Train the Gaussian NB model
model = GaussianNB()
model.fit(X_train, y_train)

# Predictions
y_pred = model.predict(X_test)

# Evaluate the model
accuracy = accuracy_score(y_test, y_pred)
print("Accuracy:", accuracy)

Accuracy: 0.06165818617180485

In [25]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import mean_squared_error
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense


# Split features and target variable
X = df[['city', 'rooms', 'bathrooms', 'sqft', 'apartment_or_house']]
y = df['price']

# Split data into train and test sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Standardize features
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

# Build the neural network model
model = Sequential([
    Dense(64, activation='relu', input_shape=(X_train_scaled.shape[1],)),
    Dense(64, activation='relu'),
    Dense(1)  # Output layer for regression
])

# Compile the model
model.compile(optimizer='adam', loss='mean_squared_error')

# Train the model
history = model.fit(X_train_scaled, y_train, epochs=50, batch_size=32, validation_split=0.2, verbose=1)

# Evaluate the model
y_pred = model.predict(X_test_scaled)
mse = mean_squared_error(y_test, y_pred)
print("Mean Squared Error:", mse)

Epoch 1/50
1339/1339 [==============================] - 5s 3ms/step - loss: 2425617.5000 - val_loss: 1631576.7500
Epoch 2/50
1339/1339 [==============================] - 4s 3ms/step - loss: 1600854.8750 - val_loss: 1589783.3750
Epoch 3/50
1339/1339 [==============================] - 4s 3ms/step - loss: 1576215.7500 - val_loss: 1578907.7500
Epoch 4/50
1339/1339 [==============================] - 4s 3ms/step - loss: 1567890.3750 - val_loss: 1572773.6250
Epoch 5/50
1339/1339 [==============================] - 4s 3ms/step - loss: 1563805.2500 - val_loss: 1571341.2500
Epoch 6/50
1339/1339 [==============================] - 4s 3ms/step - loss: 1561428.6250 - val_loss: 1569752.1250
Epoch 7/50
1339/1339 [==============================] - 4s 3ms/step - loss: 1559805.2500 - val_loss: 1570029.5000
Epoch 8/50
1339/1339 [==============================] - 4s 3ms/step - loss: 1559265.7500 - val_loss: 1568459.8750
Epoch 9/50
1339/1339 [==============================] - 4s 3ms/step - loss: 1558110.7500 - val_loss: 1567297.6250
Epoch 10/50
1339/1339 [==============================] - 4s 3ms/step - loss: 1557118.6250 - val_loss: 1567732.3750
Epoch 11/50
1339/1339 [==============================] - 4s 3ms/step - loss: 1556684.0000 - val_loss: 1567289.7500
Epoch 12/50
1339/1339 [==============================] - 4s 3ms/step - loss: 1555911.3750 - val_loss: 1566280.6250
Epoch 13/50
1339/1339 [==============================] - 4s 3ms/step - loss: 1555395.2500 - val_loss: 1565603.8750
Epoch 14/50
1339/1339 [==============================] - 4s 3ms/step - loss: 1555077.8750 - val_loss: 1566428.0000
Epoch 15/50
1339/1339 [==============================] - 4s 3ms/step - loss: 1554903.8750 - val_loss: 1566412.7500
Epoch 16/50
1339/1339 [==============================] - 4s 3ms/step - loss: 1554223.7500 - val_loss: 1566022.3750
Epoch 17/50
1339/1339 [==============================] - 4s 3ms/step - loss: 1554192.1250 - val_loss: 1565087.1250
Epoch 18/50
1339/1339 [==============================] - 4s 3ms/step - loss: 1554011.6250 - val_loss: 1565826.3750
Epoch 19/50
1339/1339 [==============================] - 4s 3ms/step - loss: 1553689.0000 - val_loss: 1566456.2500
Epoch 20/50
1339/1339 [==============================] - 4s 3ms/step - loss: 1553099.8750 - val_loss: 1565341.1250
Epoch 21/50
1339/1339 [==============================] - 4s 3ms/step - loss: 1553194.6250 - val_loss: 1564350.2500
Epoch 22/50
1339/1339 [==============================] - 4s 3ms/step - loss: 1552958.0000 - val_loss: 1565898.7500
Epoch 23/50
1339/1339 [==============================] - 4s 3ms/step - loss: 1552905.7500 - val_loss: 1563849.8750
Epoch 24/50
1339/1339 [==============================] - 4s 3ms/step - loss: 1552790.1250 - val_loss: 1564703.1250
Epoch 25/50
1339/1339 [==============================] - 4s 3ms/step - loss: 1552101.1250 - val_loss: 1564935.7500
Epoch 26/50
1339/1339 [==============================] - 4s 3ms/step - loss: 1552643.5000 - val_loss: 1566225.7500
Epoch 27/50
1339/1339 [==============================] - 4s 3ms/step - loss: 1552439.5000 - val_loss: 1570052.1250
Epoch 28/50
1339/1339 [==============================] - 4s 3ms/step - loss: 1552067.0000 - val_loss: 1563577.8750
Epoch 29/50
1339/1339 [==============================] - 4s 3ms/step - loss: 1552161.3750 - val_loss: 1565341.6250
Epoch 30/50
1339/1339 [==============================] - 4s 3ms/step - loss: 1551864.6250 - val_loss: 1564847.7500
Epoch 31/50
1339/1339 [==============================] - 4s 3ms/step - loss: 1552018.1250 - val_loss: 1563829.6250
Epoch 32/50
1339/1339 [==============================] - 4s 3ms/step - loss: 1551735.0000 - val_loss: 1563414.7500
Epoch 33/50
1339/1339 [==============================] - 4s 3ms/step - loss: 1551784.5000 - val_loss: 1565080.1250
Epoch 34/50
1339/1339 [==============================] - 4s 3ms/step - loss: 1551128.5000 - val_loss: 1566957.0000
Epoch 35/50
1339/1339 [==============================] - 4s 3ms/step - loss: 1551640.2500 - val_loss: 1564871.0000
Epoch 36/50
1339/1339 [==============================] - 4s 3ms/step - loss: 1551648.2500 - val_loss: 1566233.8750
Epoch 37/50
1339/1339 [==============================] - 4s 3ms/step - loss: 1551103.7500 - val_loss: 1564270.0000
Epoch 38/50
1339/1339 [==============================] - 4s 3ms/step - loss: 1551450.3750 - val_loss: 1564538.8750
Epoch 39/50
1339/1339 [==============================] - 4s 3ms/step - loss: 1550811.1250 - val_loss: 1564770.6250
Epoch 40/50
1339/1339 [==============================] - 4s 3ms/step - loss: 1550887.6250 - val_loss: 1563446.5000
Epoch 41/50
1339/1339 [==============================] - 4s 3ms/step - loss: 1551135.3750 - val_loss: 1563661.6250
Epoch 42/50
1339/1339 [==============================] - 4s 3ms/step - loss: 1550794.3750 - val_loss: 1563374.2500
Epoch 43/50
1339/1339 [==============================] - 4s 3ms/step - loss: 1550884.7500 - val_loss: 1564300.1250
Epoch 44/50
1339/1339 [==============================] - 4s 3ms/step - loss: 1550754.0000 - val_loss: 1564511.0000
Epoch 45/50
1339/1339 [==============================] - 4s 3ms/step - loss: 1551002.2500 - val_loss: 1563884.2500
Epoch 46/50
1339/1339 [==============================] - 4s 3ms/step - loss: 1550546.0000 - val_loss: 1563508.0000
Epoch 47/50
1339/1339 [==============================] - 4s 3ms/step - loss: 1550488.3750 - val_loss: 1563474.6250
Epoch 48/50
1339/1339 [==============================] - 4s 3ms/step - loss: 1550503.2500 - val_loss: 1563490.8750
Epoch 49/50
1339/1339 [==============================] - 4s 3ms/step - loss: 1550633.0000 - val_loss: 1564559.3750
Epoch 50/50
1339/1339 [==============================] - 4s 3ms/step - loss: 1550319.8750 - val_loss: 1563812.1250
419/419 [==============================] - 1s 2ms/step
Mean Squared Error: 1525549.6266599747